<div class="row">
  <div class="col-xs-12">
    <button class='btn btn-success'>new Recipe</button>
  </div>
</div>
<div class="row" >
    <div class="col-md-12">
      <a href="#" class='list-group-item clearfix'
      *ngFor="let item of recipe">
        <div class="pull-left">
          <h4 class=list-group-item-heading>{{item.name}}</h4>
          <p class="list-group-item-text">{{item.description}}</p>
        </div>
        <span class='pull-right'>
          <img class="img-responsive" src={{item.imagePath}} style='height: 50px'/>
        </span>
      </a>
    </div>
</div>


